{{#> Container}}
{{#> ModalContainer}}
<div class="headers-text">Вход</div>
<div class="flex-column">
    {{> Input type='input' label='Логин' name='form' value="Введите логин"}}
    {{> Input type='password' label='Пароль' name='password' value="Введите пароль"}}
</div>
<div class="flex-column">
    {{> Button text='Войти'}}
    {{> SecondButton text='Нет аккаунта?'}}
</div>


{{/ ModalContainer}}
{{/ Container}}