{{#> Container}}
{{#> ModalContainer}}
<form class="flex-column-form">
  <div class="headers-text">Вход</div>
  <div class="flex-column">
    {{> Input type='input' label='Логин' name='form'}}
    {{> Input type='password' label='Пароль' name='password'  }}
  </div>
  <div class="flex-column mt-30">
    {{> Button text='Войти'}}

    {{> SecondButton text='Нет аккаунта?' page="registration"}}
  </div>
</form>

{{/ ModalContainer}}
{{/ Container}}
