@import '../../styles/_var';
.input {
  background-color: #fff;
  border-bottom: 1px solid $secondary;
  color: $primary-darken;
  line-height: 1.8;
  outline: none;
  width: 280px;
  &::placeholder {
    color: $light-grey;
  }
  &-wrapper {
    width: 280px;
    &__label {
      color: $primary-darken;
      font-size: 12px;
    }
  }
}
