@import '../../styles/_var';

.chat-main {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  padding: 0 20px;
  // position: fixed;
  width: 100%;
  // bottom: 20px;
  margin-bottom: 10px;
  flex: 1; /* Занимает оставшееся пространство между хедером и футером */
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  &__messages {
    background-color: $soft-white;
    height: 100%;
    flex-grow: 6;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // max-width: 60%;
  }
  &__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    &-wrapper {
      span {
        font-size: 20px;
        padding-left: 10px;
      }
      display: flex;
      align-items: center;
      padding-bottom: 8px;
    }
  }

  &__date {
    font-size: 14px;
    color: $light-grey;
  }
  &__wrapper {
    height: 100%;
  }
  &__block {
    color: $dark-grey;
    font-size: 14px;
    border-radius: 8px;
    max-width: 60%;
    padding: 5px;
    margin: 5px 0;
    position: relative;
    word-break: break-word;
    line-height: 1.3125;
    text-align: initial;
    overflow: clip;
    p::after {
      content: '';
      display: inline-block;
      height: 10px;
      width: 30px;
    }
    &.receiver {
      align-self: flex-start;
      background-color: $light-shadow;
    }
    &.sender {
      background-color: #e1e7ea;
      align-self: flex-end;
    }
    span {
      font-size: 9px;
      color: $light-grey;
      // position: absolute;
      float: right;
      bottom: auto !important;
      // right: 5px;
      // float: right;
    }
  }

  &__input-wrapper {
    width: 100%;
    // position: fixed;
    bottom: 0;
    padding: 20px;
    background-color: $background-color;
    display: flex;
    & input {
      width: 100%;
      border-radius: 5px;
      padding: 0 10px;
      background-color: #fff;
      color: #999999;
    }
    & svg {
      margin-left: 10px;
      width: 30px;
      height: 30px;

      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
