@import '../../styles/_var';
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.modal-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  min-height: 500px;
  box-shadow: 0px 0px 6px 1px $secondary;
  z-index: 2;
  background-color: $soft-white;
  border-radius: 12px;
  gap: 25px;

  > :first-child {
    margin-top: 50px;
  }
}

.profile-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 6px 1px $secondary;
  z-index: 2;
  background-color: $soft-white;
  height: 100vh;
  padding: 40px;
  & > :last-child {
    margin-top: auto;
    margin-bottom: 20px;
  }
}
