{{#> Container}}
{{#> ProfileContainer}}
{{>ButtonBack page="chat"}}
{{> Avatar src='/profile.jpg' name="Noizzer"}}

<table>
  <tbody>
    {{>ProfileLine caption="Почта" detail="email@ya.ru" type="email" readonly="true"}}
    {{>ProfileLine caption="Логин" detail="login" type="text" readonly="true"}}
    {{>ProfileLine caption="Имя" detail="Виктория" type="text" readonly="true"}}
    {{>ProfileLine caption="Фамилия" detail="Ноунэйм" type="text" readonly="true"}}
    {{>ProfileLine caption="Имя в чате" detail="noizzer" type="text" readonly="true"}}
    {{>ProfileLine caption="Телефон" detail="+7(900)000-00-00" type="text" readonly="true"}}
  </tbody>
</table>
<table>
  <tbody>
    {{>ProfileEdit caption="Изменить данные"}}
    {{>ProfileEdit caption="Изменить пароль"}}
    {{>ProfileEdit class="color-red" caption="Выйти из аккаунта"}}
  </tbody>
</table>
{{/ ProfileContainer}}
{{/ Container}}
