$background-color: #cce5fc;
$text-color: #0e4270;
$primary: #1c7cd0;
$primary-darken: #156bb6;
$secondary: #64b5f6;
$secondary-darken: #1c7cd0;
$light-grey: #999999;
$dark-grey: #565656;
$soft-white: #fcfcfc;
$shadow: #a3d0fb;
$light-shadow: #b3daff;
