@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './_var';

body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  &-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    &-form {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 30px;
      height: 100%;
      > :first-child {
        flex-grow: 1;
      }
      > :nth-child(2) {
        flex-grow: 2;
      }
      > :nth-child(3) {
        flex-grow: 2;
      }
    }
  }
}

.headers-text {
  color: $text-color;
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.mt-30 {
  margin-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.color-red {
  color: #ff0000 !important;
}

.nf-image {
  width: 50%;
  @media (max-width: 576px) {
    width: 70%;
  }
}
